.container {
    width: 888px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 32px;
    margin-top: 40px;
}

.loadMore {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    padding: 16px 32px;
    border: 1px solid #dadde1;
    color: #101828;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.005em;
    background: transparent;
    outline: none;
    transition: border 0.3s ease-in-out;
    margin-bottom: 44px;
  
}

.loadMore:hover {
    border: 1px solid #d84343;
}
